Repository VIRTUOSOCRYPTO/New4Noteshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "ruff check --fix",
    "ruff format"
  ]
}

Create leaderboards.py
  backend/routers/leaderboards.py
Due: ruff check --fix, ruff format

Create referrals.py
  backend/routers/referrals.py
Due: ruff check --fix, ruff format

Create init_viral_features.py
  backend/migrations/init_viral_features.py
Due: ruff check --fix, ruff format

Create StreakTracker.tsx
  frontend/src/components/viral/StreakTracker.tsx
Due: prettier --write, eslint --fix

Create PointsDisplay.tsx
  frontend/src/components/viral/PointsDisplay.tsx
Due: prettier --write, eslint --fix

Create Leaderboard.tsx
  frontend/src/components/viral/Leaderboard.tsx
Due: prettier --write, eslint --fix

Create ReferralDashboard.tsx
  frontend/src/components/viral/ReferralDashboard.tsx
Due: prettier --write, eslint --fix

Create ShareButtons.tsx
  frontend/src/components/viral/ShareButtons.tsx
Due: prettier --write, eslint --fix

Create index.ts
  frontend/src/components/viral/index.ts
Due: prettier --write, eslint --fix

Create ViralHub.tsx
  frontend/src/pages/viral/ViralHub.tsx
Due: prettier --write, eslint --fix

Update App.tsx
  frontend/src/App.tsx
Due: prettier --write, eslint --fix

Update Profile.tsx
  frontend/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

Update Header.tsx
  frontend/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

Update NoteCard.tsx
  frontend/src/components/notes/NoteCard.tsx
Due: prettier --write, eslint --fix

Update analytics_service.py
  backend/services/analytics_service.py
Due: ruff check --fix, ruff format

Update leaderboards.py
  backend/routers/leaderboards.py
Due: ruff check --fix, ruff format

Create fix_note_timestamps.py
  backend/scripts/fix_note_timestamps.py
Due: ruff check --fix, ruff format

Update ViralHub.tsx
  frontend/src/pages/viral/ViralHub.tsx
Due: prettier --write, eslint --fix

Create backfill_gamification.py
  backend/scripts/backfill_gamification.py
Due: ruff check --fix, ruff format

Update auth.py
  backend/routers/auth.py
Due: ruff check --fix, ruff format

Update models.py
  backend/models.py
Due: ruff check --fix, ruff format

Update server.py
  backend/server.py
Due: ruff check --fix, ruff format

Create achievements.py
  backend/routers/achievements.py
Due: ruff check --fix, ruff format

Create study_groups.py
  backend/routers/study_groups.py
Due: ruff check --fix, ruff format

Create social.py
  backend/routers/social.py
Due: ruff check --fix, ruff format

Create exams.py
  backend/routers/exams.py
Due: ruff check --fix, ruff format

Update index.ts
  frontend/src/components/viral/index.ts
Due: prettier --write, eslint --fix

Create AchievementShowcase.tsx
  frontend/src/components/viral/AchievementShowcase.tsx
Due: prettier --write, eslint --fix

Create StudyGroups.tsx
  frontend/src/components/viral/StudyGroups.tsx
Due: prettier --write, eslint --fix

Create SocialFeed.tsx
  frontend/src/components/viral/SocialFeed.tsx
Due: prettier --write, eslint --fix

Create ExamCountdown.tsx
  frontend/src/components/viral/ExamCountdown.tsx
Due: prettier --write, eslint --fix

Create WEEK_3_4_IMPLEMENTATION_COMPLETE.md
  WEEK_3_4_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Create challenges.py
  backend/routers/challenges.py
Due: ruff check --fix, ruff format

Create contests.py
  backend/routers/contests.py
Due: ruff check --fix, ruff format

Create fomo.py
  backend/routers/fomo.py
Due: ruff check --fix, ruff format

Create rewards.py
  backend/routers/rewards.py
Due: ruff check --fix, ruff format
