Repository VIRTUOSOCRYPTO/New4Noteshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "ruff check --fix",
    "ruff format"
  ]
}

Delete playwright.config.ts
  playwright.config.ts
Due: prettier --write, eslint --fix

Delete postcss.config.js
  postcss.config.js
Due: prettier --write, eslint --fix

Delete tsconfig.server.json
  tsconfig.server.json
Due: prettier --write

Delete server directory
  server/Dockerfile
  server/__tests__/auth.test.ts
  server/__tests__/notes.test.ts
  server/__tests__/setup.ts
  server/__tests__/user.test.ts
  server/auth-routes.ts
  server/auth.ts
  server/db.ts
  server/env-validator.ts
  server/file-security-fixed.ts
  server/file-security.ts
  server/fly.toml
  server/index.ts
  server/jwt.ts
  server/logger.ts
  server/mem-storage.ts
  server/routes.ts
  server/routes/admin.routes.ts
  server/routes/auth.routes.ts
  server/routes/index.ts
  server/routes/moderation.routes.ts
  server/routes/notes.routes.ts
  server/routes/user.routes.ts
  server/security-logger.ts
  server/security-report.ts
  server/storage.ts
  server/swagger.ts
  server/two-factor.ts
  server/types/clamdjs.d.ts
  server/types/express.d.ts
  server/utils.ts
  server/vite.ts
Due: prettier --write, eslint --fix

Delete functions directory
  functions/.eslintrc.js
  functions/lib/index.js
  functions/package.json
  functions/src/db.ts
  functions/src/index.ts
  functions/src/routes.ts
  functions/src/storage.ts
  functions/tsconfig.json
Due: prettier --write, eslint --fix

Delete firebase-deploy directory
  firebase-deploy/404.html
  firebase-deploy/assets/index-DCqlKmIE.js
  firebase-deploy/assets/index-DPrcP0ox.css
  firebase-deploy/index.html
Due: prettier --write, eslint --fix

Delete shared directory
  shared/schema.ts
Due: prettier --write, eslint --fix

Create server_backup.py
  backend/server_backup.py
Due: ruff check --fix, ruff format

Update requirements.txt
  backend/requirements.txt
Due: none

Update server.py
  backend/server.py
Due: ruff check --fix, ruff format

Update conftest.py
  backend/tests/conftest.py
Due: ruff check --fix, ruff format

Create PRIORITY1_CODE_CLEANUP_COMPLETE.md
  PRIORITY1_CODE_CLEANUP_COMPLETE.md
Due: prettier --write

Create PRIORITY1_CLEANUP_COMPLETE.md
  PRIORITY1_CLEANUP_COMPLETE.md
Due: prettier --write

Create 001_objectid_to_uuid.py
  backend/migrations/001_objectid_to_uuid.py
Due: ruff check --fix, ruff format

Update notes.py
  backend/routers/notes.py
Due: ruff check --fix, ruff format

Update users.py
  backend/routers/users.py
Due: ruff check --fix, ruff format

Update auth.py
  backend/routers/auth.py
Due: ruff check --fix, ruff format

Update note_service.py
  backend/services/note_service.py
Due: ruff check --fix, ruff format

Update user_service.py
  backend/services/user_service.py
Due: ruff check --fix, ruff format

Update search_service.py
  backend/services/search_service.py
Due: ruff check --fix, ruff format

Update README.md
  README.md
Due: prettier --write

Update SECURITY-REPORT.md
  SECURITY-REPORT.md
Due: prettier --write

Update README-DEPLOY.md
  README-DEPLOY.md
Due: prettier --write

Update MIGRATION_COMPLETE.md
  MIGRATION_COMPLETE.md
Due: prettier --write

Create TASK_STATUS_REPORT.md
  TASK_STATUS_REPORT.md
Due: prettier --write

Create PERFORMANCE_BASELINE_REPORT.md
  load_tests/PERFORMANCE_BASELINE_REPORT.md
Due: prettier --write

Create PRIORITY3_PERFORMANCE_COMPLETE.md
  PRIORITY3_PERFORMANCE_COMPLETE.md
Due: prettier --write

Create report_20users_30s.html
  load_tests/results/report_20users_30s.html
Due: none

Create report_50users_60s.html
  load_tests/results/report_50users_60s.html
Due: none

Create report_100users_60s.html
  load_tests/results/report_100users_60s.html
Due: none

Create test1_output.txt
  load_tests/results/test1_output.txt
Due: none

Create stats_20users_30s_stats.csv
  load_tests/results/stats_20users_30s_stats.csv
Due: none

Create stats_20users_30s_stats_history.csv
  load_tests/results/stats_20users_30s_stats_history.csv
Due: none

Create stats_20users_30s_failures.csv
  load_tests/results/stats_20users_30s_failures.csv
Due: none

Create stats_20users_30s_exceptions.csv
  load_tests/results/stats_20users_30s_exceptions.csv
Due: none

Create stats_50users_60s_stats.csv
  load_tests/results/stats_50users_60s_stats.csv
Due: none

Create stats_50users_60s_stats_history.csv
  load_tests/results/stats_50users_60s_stats_history.csv
Due: none

Create stats_50users_60s_failures.csv
  load_tests/results/stats_50users_60s_failures.csv
Due: none

Create stats_50users_60s_exceptions.csv
  load_tests/results/stats_50users_60s_exceptions.csv
Due: none

Create stats_100users_60s_exceptions.csv
  load_tests/results/stats_100users_60s_exceptions.csv
Due: none
