Repository VIRTUOSOCRYPTO/New4Noteshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "ruff check --fix",
    "ruff format"
  ]
}

Create whatsapp_share.py
  backend/routers/whatsapp_share.py
Due: ruff check --fix, ruff format

Create ChallengesHub.tsx
  frontend/src/components/viral/ChallengesHub.tsx
Due: prettier --write, eslint --fix

Create ContestsGallery.tsx
  frontend/src/components/viral/ContestsGallery.tsx
Due: prettier --write, eslint --fix

Create FOMOTriggers.tsx
  frontend/src/components/viral/FOMOTriggers.tsx
Due: prettier --write, eslint --fix

Create SurpriseRewards.tsx
  frontend/src/components/viral/SurpriseRewards.tsx
Due: prettier --write, eslint --fix

Create WhatsAppShareButtons.tsx
  frontend/src/components/viral/WhatsAppShareButtons.tsx
Due: prettier --write, eslint --fix

Update index.ts
  frontend/src/components/viral/index.ts
Due: prettier --write, eslint --fix

Update ExamCountdown.tsx
  frontend/src/components/viral/ExamCountdown.tsx
Due: prettier --write, eslint --fix

Update ViralHub.tsx
  frontend/src/pages/viral/ViralHub.tsx
Due: prettier --write, eslint --fix

Create WEEK_3_4_FEATURES_LIVE.md
  WEEK_3_4_FEATURES_LIVE.md
Due: prettier --write

Create MONTH_2_VIRAL_LOOPS_COMPLETE.md
  MONTH_2_VIRAL_LOOPS_COMPLETE.md
Due: prettier --write

Update .env
  backend/.env
Due: none

Update requirements.txt
  backend/requirements.txt
Due: none

Update server.py
  backend/server.py
Due: ruff check --fix, ruff format

Create InstagramStoryGenerator.tsx
  frontend/src/components/viral/InstagramStoryGenerator.tsx
Due: prettier --write, eslint --fix

Create AIRecommendations.tsx
  frontend/src/components/viral/AIRecommendations.tsx
Due: prettier --write, eslint --fix

Create UnlockContent.tsx
  frontend/src/components/viral/UnlockContent.tsx
Due: prettier --write, eslint --fix

Create VIRAL_ENHANCEMENTS_COMPLETE.md
  VIRAL_ENHANCEMENTS_COMPLETE.md
Due: prettier --write

Create instagram_stories.py
  backend/routers/instagram_stories.py
Due: ruff check --fix, ruff format

Create ai_personalization.py
  backend/routers/ai_personalization.py
Due: ruff check --fix, ruff format

Create forced_virality.py
  backend/routers/forced_virality.py
Due: ruff check --fix, ruff format

Update App.tsx
  frontend/src/App.tsx
Due: prettier --write, eslint --fix

Create RewardsHub.tsx
  frontend/src/pages/RewardsHub.tsx
Due: prettier --write, eslint --fix

Create CommunityHub.tsx
  frontend/src/pages/CommunityHub.tsx
Due: prettier --write, eslint --fix

Update Header.tsx
  frontend/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

Update index.css
  frontend/src/index.css
Due: none

Update Leaderboard.tsx
  frontend/src/components/viral/Leaderboard.tsx
Due: prettier --write, eslint --fix

Update ReferralDashboard.tsx
  frontend/src/components/viral/ReferralDashboard.tsx
Due: prettier --write, eslint --fix

Update PointsDisplay.tsx
  frontend/src/components/viral/PointsDisplay.tsx
Due: prettier --write, eslint --fix

Update StreakTracker.tsx
  frontend/src/components/viral/StreakTracker.tsx
Due: prettier --write, eslint --fix

Update Analytics.tsx
  frontend/src/pages/Analytics.tsx
Due: prettier --write, eslint --fix

Create LeaderboardPage.tsx
  frontend/src/pages/LeaderboardPage.tsx
Due: prettier --write, eslint --fix

Create FEATURE_SIMPLIFICATION.md
  FEATURE_SIMPLIFICATION.md
Due: prettier --write

Update achievements.py
  backend/routers/achievements.py
Due: ruff check --fix, ruff format
