Repository VIRTUOSOCRYPTO/New4Noteshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "ruff check --fix",
    "ruff format"
  ]
}

Create ACTIVATED_FEATURES.md
  ACTIVATED_FEATURES.md
Due: prettier --write

Create DEDUPLICATION_SUMMARY.md
  DEDUPLICATION_SUMMARY.md
Due: prettier --write

Update CommunityHub.tsx
  frontend/src/pages/CommunityHub.tsx
Due: prettier --write, eslint --fix

Update RewardsHub.tsx
  frontend/src/pages/RewardsHub.tsx
Due: prettier --write, eslint --fix

Update Profile.tsx
  frontend/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

Update LeaderboardPage.tsx
  frontend/src/pages/LeaderboardPage.tsx
Due: prettier --write, eslint --fix

Update Header.tsx
  frontend/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

Update referrals.py
  backend/routers/referrals.py
Due: ruff check --fix, ruff format

Update achievements.py
  backend/routers/achievements.py
Due: ruff check --fix, ruff format

Update fomo.py
  backend/routers/fomo.py
Due: ruff check --fix, ruff format

Update rewards.py
  backend/routers/rewards.py
Due: ruff check --fix, ruff format

Update ReferralDashboard.tsx
  frontend/src/components/viral/ReferralDashboard.tsx
Due: prettier --write, eslint --fix

Update AchievementShowcase.tsx
  frontend/src/components/viral/AchievementShowcase.tsx
Due: prettier --write, eslint --fix

Update FOMOTriggers.tsx
  frontend/src/components/viral/FOMOTriggers.tsx
Due: prettier --write, eslint --fix

Update SurpriseRewards.tsx
  frontend/src/components/viral/SurpriseRewards.tsx
Due: prettier --write, eslint --fix

Update App.tsx
  frontend/src/App.tsx
Due: prettier --write, eslint --fix

Update index.css
  frontend/src/index.css
Due: none

Update package.json
  frontend/package.json
Due: prettier --write

Create AchievementCelebration.tsx
  frontend/src/components/viral/AchievementCelebration.tsx
Due: prettier --write, eslint --fix

Create LiveActivityTicker.tsx
  frontend/src/components/viral/LiveActivityTicker.tsx
Due: prettier --write, eslint --fix

Delete frontend/src/components/viral directory
  frontend/src/components/viral/AIRecommendations.tsx
  frontend/src/components/viral/AchievementCelebration.tsx
  frontend/src/components/viral/AchievementShowcase.tsx
  frontend/src/components/viral/ChallengesHub.tsx
  frontend/src/components/viral/ContestsGallery.tsx
  frontend/src/components/viral/ExamCountdown.tsx
  frontend/src/components/viral/FOMOTriggers.tsx
  frontend/src/components/viral/InstagramStoryGenerator.tsx
  frontend/src/components/viral/Leaderboard.tsx
  frontend/src/components/viral/LiveActivityTicker.tsx
  frontend/src/components/viral/PointsDisplay.tsx
  frontend/src/components/viral/ReferralDashboard.tsx
  frontend/src/components/viral/ShareButtons.tsx
  frontend/src/components/viral/SocialFeed.tsx
  frontend/src/components/viral/StreakTracker.tsx
  frontend/src/components/viral/StudyGroups.tsx
  frontend/src/components/viral/SurpriseRewards.tsx
  frontend/src/components/viral/UnlockContent.tsx
  frontend/src/components/viral/WhatsAppShareButtons.tsx
  frontend/src/components/viral/index.ts
Due: prettier --write, eslint --fix
